@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AuthScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthBox {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: beige;
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.sidebar {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__logo {
    max-width: 60%;
    max-height: 7%;
    object-fit: cover;
    padding-top: 1rem;
  }

  &__heading {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }

  &__users {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    max-height: 80vh;
    overflow-y: scroll;
  }
  
  
}

#submit {
  margin-top: 1rem;
}

.usercard {
  background-color: #7FFFD4;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1rem;
  font-family: 'Montserrat';
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.Home {
  display: flex;
  align-items: center;
}

.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ChatScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: white;
  align-items: center;

  &__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 10%;
    width: 90%;
    font-family: 'Montserrat';
  }

  &__messages {
    height: 80%;
    width: 90%;
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    padding-right: 1.5rem;
  }

  &__enter {
    display: flex;
    align-self: center;
    width: 90%;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      height: 2.25rem;
      border-radius: 0.5rem;
      border: 2px solid black;
      padding: 0 1rem;
    }
  }
}


.MessageCard {


  &__text {
    background-color: #7FFFD4;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-family: 'Open Sans';
    font-size: 1rem;
  }

  &__date {
    margin-top: -1rem;
    font-size: 0.75rem;
    font-family: 'Open Sans';
  }
}

button {
  justify-self: flex-end;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 0.8rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: #e7e7e7;

  span {
    position: relative;
    mix-blend-mode: difference;
  }


  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  &:hover::before {
    transform: translate3d(100% ,0,0);
  }
  
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #7FFFD4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #33ffba;
}